<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Threads</title>
</head>
<body>

<%- include('./partials/nav') %>


<div class="container">
    <div class="row">
        <div class="col-2">
            <h1 class="mb-3 mt-2">
                /<%= thread.name %>
            </h1>
            <div class="mb-3"><%= thread.joins_count %> Members</div>
            <% if (user) { %>
                <% if (thread.is_joined === false) { %>
                    <form action="/threads/join/<%= thread._id %>" method="post">
                        <button style="z-index: 2; position: relative;" type="submit" class="btn btn-primary mb-4">
                            Join
                        </button>
                    </form>
                <% } else { %>
                    <form action="/threads/leave/<%= thread._id %>" method="post">
                        <button style="z-index: 2; position: relative;" type="submit" class="btn btn-danger mb-4">
                            Leave
                        </button>
                    </form>
                <% } %>
            <% } else { %>
                <a style="z-index: 2; position: relative;" href="/login" class="btn btn-primary mb-4">Join</a>
            <% } %>
        </div>
        <div class="col-10">
            <p class="my-4"><%= thread.description %></p>
        </div>
    </div>

    <% posts.forEach(post => { %>
        <div>
            <div class="card mb-3" style="z-index: 2; position: relative;">
                <div class="card-body">
                    <a class="stretched-link" href="/post/<%= post._id %>"></a>
                    <div class="row">
                        <div class="col-1">
                            <% if (!post.isUpvoted) { %>
                                <form action="/post/upvote/<%= post._id %>" method="post">
                                    <button type="submit" class="btn btn-outline-danger btn-sm" style="z-index: 2; position: relative;">
                                        <i class="bi bi-arrow-up"></i>
                                    </button>
                                </form>
                            <% } else { %>
                                <form action="/post/remove/upvote/<%= post._id %>" method="post" style="z-index: 2; position: relative;">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="bi bi-arrow-up"></i>
                                    </button>
                                </form>
                            <% } %>
                            <h5 class="ms-2">
                                <%= post.voteSum %>
                            </h5>
                            <% if (!post.isDownvoted) { %>
                                <form action="/post/downvote/<%= post._id %>" method="post">
                                    <button type="submit" class="btn btn-outline-danger btn-sm" style="z-index: 2; position: relative;">
                                        <i class="bi bi-arrow-down"></i>
                                    </button>
                                </form>
                            <% } else { %>
                                <form action="/post/remove/downvote/<%= post._id %>" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm" style="z-index: 2; position: relative;">
                                        <i class="bi bi-arrow-down"></i>
                                    </button>
                                </form>
                            <% } %>
                        </div>
                        <div class="col-11">
                            <p class="text-secondary">Posted by <em><%= post.author %></em> <%= timeAgo(new Date() - post.createdAt) %></p>
                            <h2><%= post.header %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<% function timeAgo (time_difference) { %>
    <%  const secs = Math.floor(time_difference / 1000);%>
    <%  const mins = Math.floor(secs / 60);%>
    <%  const hours = Math.floor(mins / 60);%>
    <%  const days = Math.floor(hours / 24);%>
    <%  const weeks = Math.floor(days / 7);%>
    <%  const months = Math.floor(days / 30);%>
    <%  const years = Math.floor(days / 365);%>

    <%  if (mins === 0) {%>
        <%      return secs + " sec. ago";%>
    <%  } else if (hours === 0) {%>
        <%      return mins + " min. ago";%>
    <%  } else if (days === 0) {%>
        <%      return hours + " h. ago";%>
    <%  } else if (weeks === 0) {%>
        <%      return days + " d. ago";%>
    <%  } else if (months === 0) {%>
        <%      return weeks + " w. ago";%>
    <%  } else if (years === 0) {%>
        <%      return months + " mon. ago";%>
    <%  } else {%>
        <%      return years + " y. ago"%>
    <%  } %>
<% } %>

</body>